body {
    .nomeprod{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 150%;
        text-align: center;
    }
    .descrizione{
        font-weight: bold;
        text-align: center;
        font-size: 100%;
    }
}
