﻿<ion-header>

  <ion-navbar color="primary">

    <ion-title class="titolo">
      {{store_name}}
    </ion-title>

  </ion-navbar>

</ion-header>

<ion-content>

<ion-grid>
  <ion-row>
      <ion-col col-6>
          <img *ngIf="product != null" src="http://dominiotestprova.altervista.org/image/products/{{product.foto}}">
      </ion-col>
      <ion-col col-6 class="nomeprod">
          <h2 *ngIf="product != null">{{product.nome}}</h2>
          <br>
          <h2 *ngIf="product != null">{{product.prezzo}}€</h2>
      </ion-col>
  </ion-row>
</ion-grid>﻿

<ion-grid>
  <ion-row>
      <ion-col col-6 >
          <p *ngIf="brand!= null">Brand: {{brand.nome}}</p>
          <p *ngIf="category!= null">Categoria: {{category.nome}}</p>
      </ion-col>
  </ion-row>
</ion-grid>﻿

<div class="descrizione">
    Descrizione
</div>

<ion-card>
    <ion-card-content *ngIf="product != null">
        {{product.descrizione}}
    </ion-card-content>
</ion-card>
</ion-content>