<!--
  Generated template for the ShopModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div padding class="modalContentStart" id="content_start">
    <ion-content  class="box" disable-scroll>
        <div ion-fixed class="fixed">
          <ion-navbar hideBackButton class="navbar">
            <ion-buttons end class="button">
                <button ion-button icon-only color="dark" clear (click)="close()">
                    <ion-icon name="close"></ion-icon>
                </button>
            </ion-buttons>
          </ion-navbar>
            <ion-content center text-center no-padding no-margin class="box_copyright">
                <ion-grid class="box_copyright">
                      <ion-row center>
                            <ion-col no-padding no-margin>
                                <div class="img_shop" no-padding no-margin [style.backgroundImage]="'url(' + foto + ')'"></div>
                                <!--<img *ngIf="shop != null" class="img_shop" src="http://dominiotestprova.altervista.org/image/store/{{shop.foto}}" no-padding no-margin>-->
                            </ion-col>
                          <ion-col no-padding no-margin>

                              <div class="shop_name">
                                    <h5 text-uppercase no-padding no-margin color="dark" *ngIf="shop != null">{{shop.nome}}</h5>
                                    <p no-padding no-margin *ngIf="shop != null">{{shop.address}}</p>
                                    <p no-padding no-margin>Telefono: <a *ngIf="shop != null" class="phone" href="tel:{{shop.phone}}">{{shop.phone}}</a></p> 
                              </div>
                           </ion-col>
                      </ion-row>

                        <ion-row center class="second_row">
                          <ion-col>
                              <p no-padding no-margin class="link" (click)="openProducts()">Apri Negozio</p>

                           </ion-col>
                            <ion-col>
                              <p no-padding no-margin class="link" (click)="openInMap()">Apri in Maps</p>

                           </ion-col>
                      </ion-row>

                        <ion-row center >
                          <ion-col>
                              <p no-padding no-margin>Categorie</p>

                           </ion-col>

                      </ion-row>
                    <ion-row center >
                          <ion-col *ngFor="let item of categorie">
                              <div class="img_div">
                                <img src="http://dominiotestprova.altervista.org/image/categories/{{item.foto}}" no-padding no-margin>
                              </div>
                           </ion-col>

                      </ion-row>
                    <ion-row center >
                          <ion-col>
                              <p no-padding no-margin>Brands</p>

                           </ion-col>

                      </ion-row>
                    <ion-row center >
                          <ion-col *ngFor="let item of brands">
                              <div class="img_div">
                                <img src="http://dominiotestprova.altervista.org/image/brands/{{item.foto}}" no-padding no-margin>
                              </div>
                           </ion-col>

                      </ion-row>
                </ion-grid>
            </ion-content>
        </div>
          
    </ion-content>
</div>
