page-registrazione{
    
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 35%; 
        width: 35%
    }
    ion-fab{

        right: 35%;
        top: 15%;
        
    }


}